.projTextArea {
  position: absolute;
  left: 30%;
  top: 10%;
  transition: translateY(-50%);
  width: 65%;
  vertical-align: middle;
  // display: table-cell;
  max-height: 90%;
  display: flex;

  h1 {
    font-size: 55px;
    font-family: fantasy;
    color: darkblue;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: 0px;
    animation-delay: 0s;

    &::before {
      content: '<h1>';
      color: rgb(248, 163, 208);
      font-family: fantasy;
      font-size: 20px;
      position: absolute;
      margin-top: -30px;
      left: 5px;
      opacity: 0.5;
      line-height: 20px;
    }

    &::after {
      content: '</h1>';
      color: rgb(248, 163, 208);
      font-family: fantasy;
      font-size: 18px;
      line-height: 18px;
      position: absolute;
      left: -20px;
      bottom: -10px;
      margin-left: 25px;
      opacity: 0.5;
    }
  }

  .projectsContainer {
    background: rgb(0,0,255);
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 5px;

    .projContainer {
      display: flex;
      flex-direction: row;
      flex-grow: wrap;
      justify-content: center;

      p {
        font-size: 15px;
        color: whitesmoke;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 300;
        min-width: fit-content;
        animation: pulse 1s;
        background-color: rgb(255, 50, 190, 0.2);
        border-radius: 10px 10px 10px 10px;

        &:nth-of-type(1) {
          animation-delay: 1.1s;
        }

        &:nth-of-type(2) {
          animation-delay: 1.2s;
        }

        &:nth-of-type(3) {
          animation-delay: 1.3s;
        }
      }

      .text-animate-hover {
        &:hover {
          color: darkturquoise;
        }
      }
    }
  }
}
